.App {
	width: 70vw;
	margin: 0.1vw 15vw;
}
#footer {
  position: absolute;
  bottom: 1px;
  right: 1px;
 }
.board {
	margin: 1%;
	border:  0.5em black solid;
	display: inline-flex;
	flex-wrap: wrap;
	align-items: stretch;
	width: 65vw;

}
.hideName {
	visibility: hidden;
}
.row1 {
	border: 0.1em black solid;
}

.squares {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	width: auto;
	justify-content: center;
}

.square {
	border: 0.1em black solid;
	padding: 4% 2% ;
	width: 10vw;
}
.rowStarts {
	align-self: flex-start;
}
.rowEnds {
	align-self: flex-end;
}

.square22 {
	background: border-box grey;
}
.square02, .square42, .square20, .square24 {
	background: border-box lightgrey;
}

.square.highlight {
	border-color: gold;
	background-color: lightyellow;
}
.pawns {
	padding-right: 0.25em;
	padding-left: 0.25em;
	border: 0.2em solid;
	border-radius: 80%;
}
.pawns.pl0 {
	border-color: green;	
}

.pawns.activePawn {
	background-color: black;
	color: white;
	cursor: pointer;
}
.pawns.pl1 {
	border-color: maroon;	
}
.pawns.pl2 {
	border-color: indigo;	
}
.pawns.pl3 {
	border-color: purple;	
}


.playerAvatar {
	border:  0.7em solid;
	border-radius: 75%;
	cursor: pointer;
}

.game {
	display: flex;
flex-wrap: wrap;

}
.gameBox {
	display: flex;
	justify-content: space-around;
	width: 100%;
}
.gameBox .currentPlayer {
	margin-left: 5%;
}
.playerInfo {
	font-size: x-large;
	margin-left: 20%;
	flex: 3 0 0;
}

 .playingBox, .currentTurn {
	display: inline-flex;
	justify-content: center;
	gap: 2vw;
	align-items: baseline;
}
.turnButtons, .playerButtons {
	border-radius: 5%;
	padding: 0.5%;
	font-size: x-large;
	margin: 1%;
	border: 1px solid black;
	width: 10vw;
}

.turnButtons {
	background-color: white;	
	color: grey;
	cursor: pointer;
}
button[disabled] {
	cursor: not-allowed;
}
.turnButtons:hover:not([disabled]) { 
	background-color: lightgrey;
}
.diceValue {
	padding: 2%;
	border:  0.1em solid black;
	border-radius: 5%;
	font-size: x-large;
	flex-grow: 3;
	width: 5vw;
}
.playerMessage {
	border:  1px dashed gray;
	padding: 1%;
	margin: 1%;
	width: 80%;
	flex:  1 0 0;

}
